{% extends 'base.html.twig' %}

{% block title %}Accueil VehicLoc{% endblock %}

{% block heades %}
    <div class="flex-header">
        <div>
            <h1>Location de voitures à Marseille</h1>
            <p>Un service de location de voitures au mois pour répondre à vos besoins de mobilité.</p>
        </div>
        <div>
            <img src="{{ asset('assets/img/car.png') }}" alt="Voiture">
        </div>
    </div>
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bonjour a toutes et a tous</h1>

    Voitures disponibles pour le moment:
    <ul>

        {% for i in voitures %}
            <li>{{ i.nom }} - {{ i.description }} - {{ i.places }}</li>   
        {% else %}
            <li>Aucune voiture disponible. Nous sont désolée. </li>
        {% endfor %}
        
    </ul>
</div>
    
{% endblock %}
